<h3 class="col-sm-offset-2">
  Account Options
</h3>

<form class="form-horizontal" *ngIf="model" (ngSubmit)="onSubmit(accountOptionsForm, model)" #accountOptionsForm="ngForm">

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label for="verifyEmail">
          <input type="checkbox"
                 [(ngModel)]="model.verifyEmail"
                 [disabled]="readonly"
                 name="verifyEmail"
                 id="verifyEmail">
          Verify Email
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label for="verifyProviderEmail">
          <input type="checkbox"
                 [(ngModel)]="model.verifyProviderEmail"
                 [disabled]="readonly"
                 name="verifyProviderEmail"
                 id="verifyProviderEmail">
          Verify Provider Email
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label for="allowUnverifiedLogin">
          <input type="checkbox"
                 [(ngModel)]="model.allowUnverifiedLogin"
                 [disabled]="readonly"
                 name="allowUnverifiedLogin"
                 id="allowUnverifiedLogin">
          Allow Unverified Login
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label for="preventLoginIDHarvesting">
          <input type="checkbox"
                 [(ngModel)]="model.preventLoginIDHarvesting"
                 [disabled]="readonly"
                 name="preventLoginIDHarvesting"
                 id="preventLoginIDHarvesting">
          Prevent Login ID Harvesting
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label for="sendWelcomeEmail">
          <input type="checkbox"
                 [(ngModel)]="model.sendWelcomeEmail"
                 [disabled]="readonly"
                 name="sendWelcomeEmail"
                 id="sendWelcomeEmail">
          Send Welcome Email
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label for="sendAccountDeletedEmail">
          <input type="checkbox"
                 [(ngModel)]="model.sendAccountDeletedEmail"
                 [disabled]="readonly"
                 name="sendAccountDeletedEmail"
                 id="sendAccountDeletedEmail">
          Send Account Deleted Email
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label" for="loginIdentifiers">Login Identifiers</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="loginIdentifiers"
             required
             [(ngModel)]="model.loginIdentifiers" name="loginIdentifiers"
             [disabled]="readonly">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label" for="defaultLanguage">Default Language</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="defaultLanguage"
             required
             [(ngModel)]="model.defaultLanguage" name="defaultLanguage"
             [disabled]="readonly">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label" for="loginIdentifierConflict">Login Identifier Conflict</label>
    <div class="col-sm-2">
      <select class="col-sm-2 form-control" id="loginIdentifierConflict"
              [disabled]="readonly"
              name="loginIdentifierConflict" [(ngModel)]="model.loginIdentifierConflict">
        <option *ngFor="let loginIdentifierConflict of loginIdentifierConflicts" [ngValue]="loginIdentifierConflict.value">{{loginIdentifierConflict.name}}</option>
      </select>
    </div>
  </div>

  <button type="submit" [disabled]="readonly" class="btn btn-default col-sm-offset-2">Submit</button>

  <div class="clearfix"></div>

  <div class="alert-container col-sm-2 col-sm-offset-2" *ngIf="isAlertVisible">
    <span [innerHtml]="message"></span>
  </div>

</form>


